<footer class="pie-de-pagina">
    <div class="informacion-general">
        <h5>Ingeniería del Software 3</h5>
        <p>Este curso profundiza en los principios y prácticas avanzadas
            de la Ingeniería del Software, con énfasis en el desarrollo de sistemas complejos y la gestión de proyectos de software.</p>
        <h5>Desarrollado por: Juan Aquino</h5>
    </div>
    <div class="enlaces">
        <a href="https://gitlab.com/juanjoseaquinoguillen/02-y-19937-motor-plantillas">Repositorio GitLab</a>
    </div>
</footer>
